<div class='table-bordered'>
    <table class='table'>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>HomepageUrl</th>
            <th>PlayStoreUrl</th>
            <th>AppStoreUrl</th>
            <th>ProductPlatform</th>
            <th>Follow/Unfollow</th>
        </tr>
        <tr *ngFor='let product of products'>
            <td>
                {{product.Name}}
            </td>
            <td>
                {{product.Description}}
            </td>
            <td>
                {{product.HomePageUrl}}
            </td>
            <td>
                {{product.PlayStoreUrl}}
            </td>
            <td>
                {{product.AppStoreUrl}}
            </td>
            <td>
                {{product.ProductPlatform}}
            </td>

            <td>
                <button *ngIf="!product.Check" class="btn btn-success" (click)="followProduct(product.Id)">Follow</button>
                <button *ngIf="!product.Check" class="btn btn-danger" (click)="unfollowProduct(product.Id)">UnFollow</button>            
            </td>

        </tr>
    </table>
</div>