<div class="navbar navbar-btn">
    <div class="container">
        <div class="navbar-header">
            <a class="btn btn-success" [routerLink]="['/addproduct']">AddProduct</a>
            <router-outlet></router-outlet>
            <a class="btn btn-success" [routerLink]="['/listproduct']">ListProduct</a>
            <router-outlet></router-outlet>
            <a class="btn btn-success" [routerLink]="['/follow']">Follow</a>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>



