<div class="navbar navbar-btn">
    <div class="container">
        <div class="navbar-header">
            <a class="btn btn-success" [routerLink]="['/Owner/Index/addproduct']">AddProduct</a>
            <router-outlet></router-outlet>
            <a class="btn btn-success" [routerLink]="['/Owner/Index/listproduct']">ListProduct</a>
            <router-outlet></router-outlet>
            <a class="btn btn-success" [routerLink]="['/Owner/Index/follow']">FollowProduct</a>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>



