
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WelCome To MYFollow</h1>
</div>

<div class="well">
    MyFollow Users:-<br /><br />

    EndUsers:-<br /><br />

    Users of the system who will be able to view products, follow/unfollow them<br />
    and view product updates of followed products.<br /><br />

    ProductOwner:-<br /><br />

    -All End Users who has requested for extra permission to be able to add<br />
    products are product owners. They will have the ability to create products<br />
    and post updates.<br />

</div>
