<h1>List Of EndUsers To Become Owner</h1>
<br />
<div class='table-bordered'>
    <table class='table'>
        <tr>
            <th>Name</th>
            <th>Company Name</th>
            <th>Description</th>
            <th>Founded Year</th>
            <th>Website Url</th>
            <th>Approve/Reject</th>
        </tr>
        <tr *ngFor='let owner of owners'>
            <td>
                {{owner.CompanyName}}
            </td>
            <td>
                {{owner.CompanyName}}
            </td>
            <td>
                {{owner.Description}}
            </td>
            <td>
                {{owner.FoundedYear}}
            </td>
            <td>
                {{owner.WebsiteUrl}}
            </td>
            <td>
                <button class="btn btn-success" (click)="Approve(owner.Id)">Approve</button>
                <button class="btn btn-danger" (click)="Reject(owner.Id)">Reject</button>
            </td>
        </tr>
    </table>
</div>
