<!DOCTYPE html>
<html>
<head>
   
</head>
<body>
    <div>
           <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" (click)='showForm()'><!--{{ beOwner?'Fill Form':'BeOwner:)'}}-->BeOwner:) </button>
    </div><br /><br />
    <div class="form-group">
         <div class="form-horizontal">
            <form *ngIf="beOwner" #addOwnerForm="ngForm"  class="form-horizontal">
                <b>CompanyName:</b><input type="text" #CompanyName="ngForm" ngControl="CompanyName" [(ngModel)]="owner.CompanyName" required /><br/>
                <b>WebsiteUrl:</b><input type="text" #WebsiteUrl="ngForm" ngControl="WebsiteUrl" [(ngModel)]="owner.WebsiteUrl" required /><br/>
                <b>FoundedYear:</b><input type="number" #FoundedYear="ngForm" ngControl="FoundedYear" [(ngModel)]="owner.FoundedYear" required /><br/>
                <b>Description:</b><input type="text" #Description="ngForm" ngControl="Description" [(ngModel)]="owner.Description" required /><br/><br/>
           
            <button class='btn-primary' (click)="onSubmit(owner)">submit</button>
            </form>
         </div>
    </div>
</body>
</html>
